<h1 style="margin-top: 20px;">{{title}}</h1>

<form action="/api/members" method="POST">
  <label for="name">Name</label>
  <input type="text" name="name" id="name">

  <label for="email">Email</label>
  <input type="text" name="email" id="email">

  <button type="submit">Send</button>
</form>
<hr>
<h4>Members</h4>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    {{#each members}}
    <tr>
      <td>{{this.name}}</td>
      <td>{{this.email}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>