<h1 style="margin-top: 20px;">{{title}}</h1>

<form action="/" method="POST">
  <label for="name">Name</label>
  <input type="text" name="name" id="name" required>

  <label for="email">Email</label>
  <input type="text" name="email" id="email" required>

  <label for="isEmployed">
    <input type="checkbox" name="isEmployed" id="isEmployed">
    Is Employed
  </label>

  <button type="submit">Send</button>
</form>
<hr>
<h4>Members</h4>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    {{#each members}}
    <tr>
      <td>{{this.name}}</td>
      <td>{{this.email}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>